#container {
    background: var(--black);
    height: 100vh;
    width: 100%;
}

#header {
    padding-top: 26px;
    padding-left: 21px;
    
    display: flex;
    align-items: center;
}

.backButton {
    background: linear-gradient(92.42deg, var(--green-200) 1.67%, var(--green-400) 100.58%);
    width: 69px;
    height: 69px;
    border-radius: 69px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: 0.2s filter;
}

.backButton:hover {
    filter: brightness(0.8);
}

#editBackButton {
    background: linear-gradient(92.42deg, #F22E8A 1.67%, #F25C5C 100.58%);
}

.buttonLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 17px;
    width: 246px;
    height: 69px;

    background: linear-gradient(90deg, var(--green-300) 0%, var(--green-500) 42.71%);
    border-radius: 50px;
}

#editButtonLabel {
    background: linear-gradient(90deg, var(--pink-500) 0%, var(--pink-300) 100%);
}

.buttonLabel span {
    font-family: 'Itim', sans-serif;
    font-size: 32px;
    color: var(--white);
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#containerFormLabel {
    z-index: 1;
    margin-bottom: -50px;
    width: 590px;
}

#formLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 250px;
    height: 57px;

    background: linear-gradient(90deg, var(--pink-500) 0%, var(--pink-300) 100%);
    border-radius: 65px;
}

#formLabel span {
    font-family: 'Itim', sans-serif;
    font-size: 24px;
    color: var(--white);
}

#containerForm {
    margin-top: 8px;
    width: 681px;
    height: 816px;

    background: var(--gray-600);
    border-radius: 34px;
    padding: 0 30px;
}

#containerInputs {
    margin-top: 90px;
}

.containerTwoInputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerInput {
    margin-top: 30px;
}

.biggerInput {
    width: 56%;
}

.smallerInput {
    width: 44%;
    margin-left: 24px;
}

input {
    background: var(--gray-800);
    width: 100%;
    height: 69px;
    border: 0;
    border-radius: 16px;
    
    padding: 0 28px;
    
    outline: none;
     
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--white);
}

input:focus {
    border: 2px solid var(--pink-500);
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--gray-400);
    display: block;
    margin-bottom: 10px;
}

#containerButton {
    margin-top: 66px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {
    width: 281px;
    height: 81px;

    background: linear-gradient(90deg, var(--pink-500) 0%, var(--pink-300) 100%);
    border: 0;
    border-radius: 9px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Itim', sans-serif;
    font-size: 24px;
    color: var(--white);
    
    transition: 0.2s;
}

.submitButton:hover {
    filter: brightness(0.8);
}

#updateButton {
    background: linear-gradient(90deg, var(--green-500) 0%, var(--green-300) 100%);
}

::-ms-reveal {
  filter: invert(100%);
}
